$screen-width: 1024px;

$header-height: 54px;

$font-size: 16px;
$font-color: black; // #2a293e;

$form-bg: #f8f4e5;
$form-shadow: #ffa580;
$form-primary-highlight: #95a4ff;
$form-secondary-highlight: #ffc8ff;

$input-bg: #fbfbfb;
