@import '../../../utils/css/index.scss';

.btn {
  display: flex;
  justify-content: center;
  line-height: $font-size * 2;
  padding: 0 20px;
  background: $form-shadow;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px $form-primary-highlight, 3px 3px 1px 1px black;
  cursor: pointer;

  &:hover {
    background: black;
    color: white;
  }
}

.inactive {
  background: #08e1ae;
}

.disabled {
  opacity: 0.5;
  cursor: default;

  &:hover {
    background: $form-shadow;
    color: gray;
  }
}

.big {
  width: 90%;
}
