@import 'src/utils/css/index';

.page {
  margin: auto;
  padding-top: 20px;

  height: 100%;
  width: 100%;
  max-width: $screen-width;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: hidden;
}

.overflowed {
  @include scrollable;
}

.title {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.calendarHolder {
  display: flex;
}

.calendar {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
}
