.imgButton {
  position: absolute;
  outline: none;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 1000;
}

.remove {
  background-image: url(../../img/icon_remove.jpg);
}

.edit {
  background-image: url(../../img/icon_edit.png);
}

.perform {
  background-image: url(../../img/icon_perform.png);
}

.sizeDefault {
  width: 48px;
  height: 48px;
}

.sizeSmall {
  width: 32px;
  height: 32px;
}

.sizeXSmall {
  width: 24px;
  height: 24px;
}

.danger {
  border: 1px solid red;
}

.leftTop {
  top: 5px;
  left: 5px;
}

.rightTop {
  top: 5px;
  right: 5px;
}

.rightBottom {
  bottom: 5px;
  right: 5px;
}

.leftBottom {
  bottom: 5px;
  left: 5px;
}

.leftTopNP {
  top: 0;
  left: 0;
}

.rightTopNP {
  top: 0;
  right: 0;
}

.rightBottomNP {
  bottom: 0;
  right: 0;
}

.leftBottomNP {
  bottom: 0;
  left: 0;
}
