@import 'src/utils/css/variables';

.messagePopupContainer {
  position: absolute;
  display: flex;
  z-index: 3000;
  top: calc(1rem + #{$header-height});
  right: 0px;
  overflow: hidden;
  min-width: 350px;
  align-content: flex-end;
  justify-content: flex-end;

  & ul {
    list-style-type: none;
  }
}
