@import '../../../utils/css/index.scss';

.page {
  margin: auto;
  padding-top: 20px;

  height: 100%;
  width: 100%;
  max-width: $screen-width;

  display: flex;
  flex-direction: column;

  overflow-y: hidden;
}

.withOverflow {
  overflow-y: auto;
}

.title {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.workouts {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

.formContainer {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: fit-content;
  display: flex;
}
