@import '../../utils/css/index.scss';

.page {
  margin: auto;
  padding-top: $header-height;

  height: 100%;
  width: 90%;
  max-width: $screen-width;

  display: flex;
  flex-direction: column;
}

.title {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.exercises {
  display: flex;
  gap: 12px;
  list-style-type: none;
}

.formContainer {
  margin: 0 auto;
  margin-bottom: 20px;
  width: fit-content;
  height: fit-content;
  display: flex;
}
