@import '../../../../utils/css/index.scss';

.form {
  height: fit-content;
  min-width: 400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 20px;
  background: $form-bg;
  border: 2px solid black;
  box-shadow: 15px 15px 1px $form-shadow, 15px 15px 1px 2px black;
}

.controls {
  display: flex;
  justify-content: space-evenly;
}

.twoInRow {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.equipment {
  display: flex;
  flex-direction: column;
}

.addEquipmentMenu {
  position: relative;
  margin-bottom: 20px;
  display: flex;
}

.addBtn {
  height: 48px;
  width: 48px;
  border: 1px solid black;
  background-image: url(../../../../img/icon_add.png);
  background-size: contain;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 1px black;
  }
}
