@import '../../utils/css/index.scss';

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh-welcome, 1vh) * 100 - #{$header_height});

  background-color: #08e1ae;
  background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
  background-size: cover;
  background-repeat: no-repeat;
}

.holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
