@import '../../utils/css/index.scss';

@keyframes spend {
  100% {
    transform: translateY(15px);
  }
}

@keyframes receive {
  100% {
    transform: translateY(0);
  }
}

.header {
  position: relative;
  font-size: 18px;
  height: $header_height;
  background-color: #777;
  border-bottom: 1px solid #f4f2f2;
  box-sizing: border-box;
  z-index: 100;

  display: flex;
}

.title {
  align-self: center;
  color: lavender;
  margin-left: 10px;
  margin-right: auto;
}

.btn {
  padding: 0 5px;
  font-family: inherit;
  font-size: 14px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  align-items: center;

  &:hover {
    background-color: chocolate;
  }

  &Logout {
    background-color: brown;
  }
}
