@import '../../utils/css/index.scss';

.header {
  font-size: 24px;

  background-color: lavender;

  box-sizing: border-box;
  z-index: 100;
}

.container {
  max-width: $screen-width;
  margin: auto;
  display: flex;
}

.title {
  padding: 15px;
  align-self: center;
  // color: lavender;
  margin-left: 20px;
  margin-right: auto;
}

.navbar {
  display: flex;
}

.btn {
  margin: 0 25px;
  font-family: inherit;
  font-size: 16px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  align-items: center;

  &:hover {
    color: chocolate;
  }
}
